h1 {
  color: #0066cc;
  text-align: center;
  font-size: 70px;
}

h2{
  color: #4700b3;
  text-align: center;
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

p.favorite {
  text-align: center;
  font-size: 35px;
  font-family: monospace;
  color: #cc0000;
}

li.favorite {
  font-size: 45px;
  font-family: monospace;
  color: #cc0000;
}

ol {
  text-align: center;
  list-style-position: inside;
  font-size: 40px;
  font-weight: bold;
  color: #336699;
}

img {
  width: 750px;
  display: block;
  margin: 0 auto;
}
