h1 {
  color: #4d0000;
  text-align: center;
  font-size: 70px;
}

h2 {
  color: #0066cc;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: #804000;
  text-align: center;
  font-size: 40px;
}

h4 {
  color: #e60000;
  text-align: center;
  font-size: 40px;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

p {
  color: #669999;
  text-align: center;
  font-size: 25px;
}

ul.dystopia {
  text-align: center;
  list-style-position: inside;
  font-size: 30px;
  color: #336600;
}

ul.action {
  text-align: center;
  list-style-position: inside;
  font-size: 30px;
  color: #800000;
}

ol.sci-fi {
  text-align: center;
  list-style-position: inside;
  font-size: 30px;
  color: #006bb3
}

.important {
  color: #b30000;
  font-size: 30px;
}
