h1 {
  color: #e60000;
  text-align: center;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #cc2400;
}

img {
  width: 750px;
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 32px;
}

.intro {
  margin: 0 10%;
  color: #660066;
  font-size: 30px;
  font-family: monospace;
}

.title {
  color: #0213aa;
  font-size: 45px;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-size: 40px;
}
